/*main*/
#background_main{
    margin: 0px;
    background-image: url('http://www.silvique.comxa.com/web_images/silvique_promo_better_photos__no_name.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 90%;
}
.nav_bar{
    font-family: Verdana;
    height: 100px;
    background-color: black;
    width: auto; 
}
.nav_bar_silver{
    font-family: Verdana;
    height: 100px;
    background-color: black;
    width: auto; 
    border-bottom: 1px solid silver;
}

.buttons{
    color: silver;
    float: left;
    padding: 3px 10px 3px 10px;
    margin: 40px 2.5px 15px 2.5px;
}
.buttons.silvique{
    font-family: cursive;
    font-size: 60px;
    margin: 0px 30px 0px 30px;
    color: 7D1A5C;
}
.buttons.print{
    float: right;
}
.buttons.clear{
    float: right;
}
.selected.buttons{
    color: 197739;
    /*box-shadow: inset -3px -3px 3px #585858;
    b*/order-radius: 5px;
}
a{
    color: silver;
    text-decoration: none;
}
a:hover{
    color: 197739;
}

#center_bar{
    width: 60%;
    background-color: black;
    margin: auto;
    margin-top: 100px;
    padding: 100px;
    border-radius:25px;
    border: 1px solid silver;
}
#main_title{
    font-family: cursive;
    font-size: 70px; 

}
.center{
    width: auto;
    text-align: center;
    color: silver;
}
#name{
    font-size: 40px;
    color: 197739;
    margin-bottom: 30px;
}

/*show_inventory*/

.background_show{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: black;
    font-family: Verdana;
}
.boxes.title{
    color: gray;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: black;
    font-weight: normal;
}
table{
    width: 600px;
    border-collapse:collapse;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
th, td{
    padding: 10px 10px 10px 10px;
    border: 1px solid E3D8D8;

}
th{
    color: white;
}
.boxes{
    margin: auto;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    
}

#table_div{
    height: 550px;
    overflow-y: auto;
    margin-top: 0px;
    padding-top: 10px;
    margin-right: 0px;
}

.tag{
    font-size: 20px;
    color: gray;
}
.header{
    background-color: gray;
}

#left_box{
    position: absolute;
    left:50px;
    top: 180px;
    width: 250px;
    height: 100%;
    color: silver;
/*    border-right: 1px solid silver;
*/  padding-top: 50px;
    padding-left: 20px;
}

.left_titles{
    color: gray;
/*    color: 7D1A5C;
*/    margin-top: 10px;
    font-size: 30px;
}
.files{
    color: silver;
    margin: 0px 0px 0px 20px;
    font-size: 18px;
}
.files:hover{
    color: 197739;
}

.right_box{
    position: absolute;
    width: 100%;
    margin: auto;
}
.main_boxes{
    float: left;
}
.first{
    background-color: silver;
}
.second{
    background-color: white;
}
.total{
    color: gray;
}
#message_box{
    position: absolute;
    top: 183px;
    right: 40px;
    color: silver;
    width: 300px;
}
#add{
    color: 197739;
}
.silvique_inside{
    color: 7D1A5C;
}
/*upload*/
.upload_form{
    background-color: black;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    height: 500px;
    border-radius:25px;
}
#compare.upload_form{
    background-color: silver;
}
#sale.upload_form{
    background-color: 197739;
}
.form{
    padding: 15px;
    margin: 20px 120px 0px 180px;
    font-size: 20px;
    text-align: center;
    width: 50%;
    height: 30px;
}
.small_form_input{
    padding: 15px;
    font-size: 20px;
    text-align: center;
    width: 25%;
    height: 30px;
    float: left;
    margin-left: 1%;
}
.small_form_input.left{
    margin-left:11.5%;
}
.form_box{
    width: 100%;
    margin-top: 100px;
    height: 34px;
}
.form.center{
    margin: 0px;
}
.submit{
    margin: 5px 120px 50px 180px;
    font-size: 15px;
    text-align: center;
    width: 50%;
    height: 30px;
    background-color: 197739;
}
.submit.center{
    margin: 0px;
}
.sale.submit{
    background-color: black;
    color: silver;
}
.small.submit{
    width: 77%;
    margin-left: 11.5%;
    background-color: gray;
    color: black;
}
.upload_title{
    color: silver;
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding-top: 100px;
}
#compare.upload_title{
    color: black;
}
#sale.upload_title{
    color: black;
}
.no_compare{
    width: 400px;
    /*background-color: silver;*/
    color: silver;
    margin: auto;
}
#here{
    color: 197739;
}
.message{
    position: absolute;
    margin-top: 50px;
    color: black;
    width: 100%;
    text-align: center;
}
.message.dark{
    color: white;
}
#compare.message{
    color: silver;
}
/*compare*/
.background_upload{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: silver;
    font-family: Verdana;
}
/*print*/
.background-print{
    background-color: white;
}
.print.boxes{
    margin-left: 50px;
    width: 600px;
}
.print th{
    color: black;
}
.small_form{
    background-color: black;
    width: 40%;
    margin: auto;
    margin-top: 100px;
    margin-left: 6.7%;
    height: 500px;
    border-radius:25px;
    float:left;
}
.small_form.two{
    background-color: 197739;
}
#small_title{
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    color: silver;
}
#small_title_two{
    color: black;
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

#both{
    position: absolute;
    width: 100%;
}



/*green: color: 197739*/
/*yellow: color: A3A738;*/
/*pink: color: 7D1A5C;*/










