<html>
    <head>
        <title>View Comparison</title>
        <link type="text/css" href="/static/css/stylesheet.css" rel="stylesheet">
    </head>
    <body class="background_show">
        <div class="nav_bar_silver">
            <div class="silvique buttons"><a class="silvique_inside" href="/">Silvique</a></div>
            <div class="buttons"><a href="/show">View Inventory</a></div>
            <div class="buttons"><a href="/upload_inv">Upload Inventory</a></div>
            <div class="selected buttons">Compare Inventory</div>
            <div class="buttons"><a href="/save_inventory">Save Inventory</a></div>
            <div class="buttons"><a href="/upload_sale">Upload Sale</a></div>
            <div class="buttons"><a href="/add_skus">Add Sku's</a></div>
            {% if rows %}
                <div class="print buttons"><a href="/print_view_compare">Print View</a></div>
                <div class="clear buttons"><a href="/delete_compare">Clear Comparison</a></div>
            {% endif %}
        </div>

        {% if rows %}
            <h1 class='title boxes'>Comparison</h1>
            <div id="table_div" class='boxes'>
                {% if inventory_only_items %}
                    <table>
                        <thead>
                            <th colspan="4">Items in Inventory but NOT in Comparison File</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class='header'><strong>Sku</strong></td>
                                <td class='header' style="width:40px"><strong>#</strong></td>
                                <td class='header'><strong>Item Value</strong></td>
                                <td class='header'><strong>Total Value</strong></td>
                            
                                {% for row in inventory_only_items %}
                                    {% if loop.index %2 == 0 %}
                                        <tr class="first">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>${{row[2]}}</td>
                                            <td>${{row[3]}}</td>
                                        <tr>
                                    {% else %}
                                        <tr class="second">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>${{row[2]}}</td>
                                            <td>${{row[3]}}</td>
                                        <tr>
                                    {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if comparison_only_items %}
                    <table>
                        <thead>
                            <th colspan="4">Items in Comparison File but NOT in Inventory</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class='header'><strong>Bar Code</strong></td>
                                <td class='header' style="width:40px"><strong>#</strong></td>
                                <td class='header'><strong>Item Value</strong></td>
                                <td class='header'><strong>Total Value</strong></td>
                            
                                {% for row in comparison_only_items %}
                                    {% if loop.index %2 == 0 %}
                                        <tr class="first">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>${{row[2]}}</td>
                                            <td>${{row[3]}}</td>
                                        <tr>
                                    {% else %}
                                        <tr class="second">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>${{row[2]}}</td>
                                            <td>${{row[3]}}</td>
                                        <tr>
                                    {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if unequal_items %}
                    <table>
                        <thead>
                            <th colspan="4">Inventory Record</th>
                            <th colspan="8">Comparison File Record</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class='header'><strong>Bar Code</strong></td>
                                <td class='header' style="width:40px"><strong>#</strong></td>
                                <td class='header'><strong>Item Value</strong></td>
                                <td class='header'><strong>Total Value</strong></td>
                                <td class='header'><strong>Bar Code</strong></td>
                                <td class='header' style="width:40px"><strong>#</strong></td>
                                <td class='header'><strong>Item Value</strong></td>
                                <td class='header'><strong>Total Value</strong></td>
                            
                                {% for row in unequal_items %}
                                    {% if loop.index %2 == 0 %}
                                        <tr class="first">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>${{row[2]}}</td>
                                            <td>${{row[3]}}</td>
                                            <td>{{row[5]}}</td>
                                            <td>{{row[6]}}</td>
                                            <td>${{row[7]}}</td>
                                            <td>${{row[8]}}</td>
                                        <tr>
                                    {% else %}
                                        <tr class="second">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>${{row[2]}}</td>
                                            <td>${{row[3]}}</td>
                                            <td>{{row[5]}}</td>
                                            <td>{{row[6]}}</td>
                                            <td>${{row[7]}}</td>
                                            <td>${{row[8]}}</td>
                                        <tr>
                                    {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% else %}
                {% for message in get_flashed_messages() %}
                    <p id="compare" class="message">{{message}}</p>
                {% endfor %}
                <form id="compare" class="upload_form"  action="{{url_for("upload_comparison")}}" method='POST'>
                    <div id="compare" class='upload_title'>Upload a Comparison File Here</div>
                    <input type="text" class="form" placeholder="Comparison File Name" name="file"><br>
                    <input type="submit" class="submit" value="Submit">
                </form>
        {% endif %}
            </div>
    </body>
</html>