<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/stylesheet.css" />
        <title>Silvique</title>
    </head>
    <body id="background_main">
        <div class="nav_bar">
            <div class="silvique buttons">Silvique</div>
            <div class="buttons"><a href="/show">View Inventory</a></div>
<!--             <div class="buttons"><a href="/display_compare">Compare Inventory</a></div>
 -->        <div class="buttons"><a href="/save_inventory">Save Inventory</a></div>
            <div class="buttons"><a href="/upload_sale">Upload Sale</a></div>
            <div class="buttons"><a href="/upload_inv">Upload Packing List</a></div>
            <div class="buttons"><a href="/add_skus">Add Sku's</a></div>
        </div>
            <div id="center_bar">
            <div class="center" id="main_title">Silvique Sterling Silver</div>
            <div class="center" id="name">Lynn Dulmage</div>
            {% for message in get_flashed_messages() %}
                <p class="message">{{message}}</p>
            {% endfor %}
            <form class="center"  action="{{url_for("login")}}" method='POST'>
                <input type="text" class="form center" placeholder="Name" name="name">
                <input type="text" class="form center" placeholder="Password" name="password"></br>
                <input type="submit" class="submit center" value="Submit">
            </form>
        </div>
    </body>
</html>