<html>
    <head>
        <title>Comparison</title>
        <link type="text/css" href="/static/css/stylesheet.css" rel="stylesheet">
    </head>
    <body>
        <h1 id='title' class='print boxes'>Comparison {{current_date}}</h1>
        <div class='print boxes'>
            {% if inventory_only_items %}
                <table>
                    <thead>
                        <th class ="print" colspan="4">Items in Inventory but NOT in Comparison File</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='header'><strong>Sku</strong></td>
                            <td class='header' style="width:40px"><strong>#</strong></td>
                            <td class='header'><strong>Item Value</strong></td>
                            <td class='header'><strong>Total Value</strong></td>
                        
                            {% for row in inventory_only_items %}
                                {% if loop.index %2 == 0 %}
                                    <tr class="first">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>${{row[2]}}</td>
                                        <td>${{row[3]}}</td>
                                    <tr>
                                {% else %}
                                    <tr class="second">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>${{row[2]}}</td>
                                        <td>${{row[3]}}</td>
                                    <tr>
                                {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if comparison_only_items %}
                <table>
                    <thead>
                        <th class ="print" colspan="4">Items in Comparison File but NOT in Inventory</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='header'><strong>Bar Code</strong></td>
                            <td class='header' style="width:40px"><strong>#</strong></td>
                            <td class='header'><strong>Item Value</strong></td>
                            <td class='header'><strong>Total Value</strong></td>
                        
                            {% for row in comparison_only_items %}
                                {% if loop.index %2 == 0 %}
                                    <tr class="first">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>${{row[2]}}</td>
                                        <td>${{row[3]}}</td>
                                    <tr>
                                {% else %}
                                    <tr class="second">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>${{row[2]}}</td>
                                        <td>${{row[3]}}</td>
                                    <tr>
                                {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if unequal_items %}
                <table>
                    <thead>
                        <th class ="print" colspan="4">Inventory Record</th>
                        <th class ="print" colspan="8">Comparison File Record</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='header'><strong>Bar Code</strong></td>
                            <td class='header' style="width:40px"><strong>#</strong></td>
                            <td class='header'><strong>Item Value</strong></td>
                            <td class='header'><strong>Total Value</strong></td>
                            <td class='header'><strong>Bar Code</strong></td>
                            <td class='header' style="width:40px"><strong>#</strong></td>
                            <td class='header'><strong>Item Value</strong></td>
                            <td class='header'><strong>Total Value</strong></td>
                        
                            {% for row in unequal_items %}
                                {% if loop.index %2 == 0 %}
                                    <tr class="first">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>${{row[2]}}</td>
                                        <td>${{row[3]}}</td>
                                        <td>{{row[5]}}</td>
                                        <td>{{row[6]}}</td>
                                        <td>${{row[7]}}</td>
                                        <td>${{row[8]}}</td>
                                    <tr>
                                {% else %}
                                    <tr class="second">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>${{row[2]}}</td>
                                        <td>${{row[3]}}</td>
                                        <td>{{row[5]}}</td>
                                        <td>{{row[6]}}</td>
                                        <td>${{row[7]}}</td>
                                        <td>${{row[8]}}</td>
                                    <tr>
                                {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        
    </body>
</html>