<html>
    <head>
        <title>View Inventory</title>
        <link type="text/css" href="/static/css/stylesheet.css" rel="stylesheet">
    </head>
    <body class="background_print">
        <h1 id='title' class='print boxes'>Current Inventory {{current_date}}</h1>
        <div class='print boxes'>
            <div id='tag'>Inventory Tag Total</div>
            <div id='total'>${{total}}</div>
        </div>
        <div class='print boxes'>
            <table>
                <thead>
                    <!-- <th colspan='4' style="font-size:30px;">Current Inventory</th> -->
                </thead>
                <tbody>
                    <tr>
                        <td class='header'><strong>Sku</strong></td>
                        <td class='header' style="width:40px"><strong>#</strong></td>
                        <td class='header'><strong>Item Value</strong></td>
                        <td class='header'><strong>Total Value</strong></td>

                    {% for row in inventory_list %}
                        {% if loop.index %2 == 0 %}
                            <tr class="first">
                                <td>{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                                <td>${{row[2]}}</td>
                                <td>${{row[2] * row[1]}}</td>
                            <tr>
                        {% else %}
                            <tr class="second">
                                <td>{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                                <td>${{row[2]}}</td>
                                <td>${{row[2] * row[1]}}</td>
                            <tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </body>
</html>