<html>
    <head>
        <title>View Inventory</title>
        <link type="text/css" href="/static/css/stylesheet.css" rel="stylesheet">
    </head>
    <body class="background_show" id="background-show"=>
        <div class="nav_bar">
            <div class="silvique buttons"><a class="silvique_inside" href="/">Silvique</a></div>
            <div><a href="/show" class="buttons selected">View Inventory</a></div>
<!--             <div class="buttons"><a href="/display_compare">Compare Inventory</a></div>
 -->        <div class="buttons"><a href="/save_inventory">Save Inventory</a></div>
            <div class="buttons"><a href="/upload_sale">Upload Sale</a></div>
            <div class="buttons"><a href="/upload_inv">Upload Packing List</a></div>
            <div class="buttons"><a href="/add_skus">Add Sku's</a></div>
            <div class="print buttons"><a href="/print_view">Print View</a></div>
        </div>
        <div id="left_box">
            <p class='lists'><a href="/show">Current Inventory</a></p>
            <div id="inventory" class="left_titles">Packing Lists</div>
            {% if packing_lists %}
                {% for row in packing_lists %}
                    <p class='lists'><a href="/show_packing_list/{{row.id}}">{{row.name}} {{row.date.strftime("%m/%d/%Y")}} </a></p>
                {% endfor %}
            {% endif %}
            <div id="sales" class="left_titles">Sales</div>
            {% if sales_lists %}
                {% for row in sales_lists %}
                    <p class='lists'><a href="/show_sale/{{row.id}}"> {{row.location}} {{row.date.strftime("%m/%d/%Y")}} </a></p>
                {% endfor %}
            {% endif %}
            <div class="left_titles">Filter by Sku</div>
            <form class="sku_search"  action="{{url_for("view_sku")}}" method='POST'>
                <input type="text" class="form sku" placeholder="sku" name="sku"><br>
                <input type="submit" class="submit sku" value="Submit">
            </form>
        </div>
        {% if get_flashed_messages() %}
            <div id="message_box">
                <p> Invalid Sku's found. Write down these numbers and choose <span id="add">Add Sku's</span> to re-enter: </p>
                {% for message in get_flashed_messages() %}
                    <p> {{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="main_body">
            <div class="boxes" class="right_box">
                <h1 class='title boxes'>{{name_of_showing}}</h1>
                <div class='boxes'>
                    <div class='total' id='tag'>Tag Total   ${{total}}</div>
                    <!-- <div class='total' id='total'></div> -->
                </div>
                <div id="table_div" class='boxes'>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                {% if inventory_list %}
                                    {% if inventory_list[0][3] %}
                                        <td class='header'><strong>Name</strong></td>
                                    {% endif %}
                                {% endif %}
                                <td class='header'><strong>Sku</strong></td>
                                <td class='header' style="width:40px"><strong>#</strong></td>
                                <td class='header'><strong>Item Value</strong></td>
                                <td class='header'><strong>Total Value</strong></td>
                            </tr>
                            <tr>
                            {% if inventory_list %}
                                {% for row in inventory_list %}
                                    {% if loop.index %2 == 0 %}
                                        <tr class="first">
                                            {% if row[3] %}
                                                <td>{{row[3]}}</td>
                                            {% endif %}
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>${{row[2]}}</td>
                                            <td>${{row[1] * row[2]}}</td>
                                        <tr>
                                    {% else %}
                                        <tr class="second">
                                            {% if row[3] %}
                                                <td>{{row[3]}}</td>
                                            {% endif %}
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>${{row[2]}}</td>
                                            <td>${{row[1] * row[2]}}</td>
                                        <tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!--     // <script src="../static/js/jquery-2.0.3.js"></script>
    // <script src="../static/js/showFiles.js"></script> -->
    </body>
</html>